.App {
  background: linear-gradient(45deg, #485563, #29323c);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header {
  height: 4rem;
  width: 100%;
  border-bottom: 2px solid white;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  background: rgba(255, 255, 255, 0.3);
}
.logo {
  height: 3.5rem;
  width: 3.5rem;
  background-image: url("Pictures/logo.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.title {
  color: white;
  font-weight: bold;
  font-size: 2rem;
  margin-left: 1rem;
}
.messages {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  overflow: auto;
  max-height: calc(100vh - 4rem - 4rem);
  min-height: calc(100vh - 4rem - 4rem);
  padding: 1rem;
}
.message {
  color: white;
  background: black;
  padding: 0.5rem 1rem;
  margin: 0.2rem;
  border-radius: 0.3rem;
}
